FORMAT: 1A
HOST: https://www.retailnext.net


# RetailNext Metrics API

<div>
  <link rel="stylesheet" href="http://107.170.252.37/assets/retailnext/rn.css" media="screen, presentation" />
  <script src="http://107.170.252.37/assets/bootstrap-3.1.1-dist/js/bootstrap.min.js" data-manual></script>
  <script src="http://107.170.252.37/assets/retailnext/rn.js" data-manual></script>
</div>
<a class="anchor" name="overview"></a>

Query your RetailNext data.

# Overview

This document describes the resources that make up the official
RetailNext API v1. If you have any problems or requests
please contact <a href="mailto:support@retailnext.net?Subject=APIv1%20Question" target="_top">support</a>.

## License

The Metrics API requires a valid license on your corporate 
machine. If you currently do not have a license key, please contact 
our sales representative to get you set up with one.

## Current Version

By default, all requests receive the **v1** version of the API (RetailNext 5.0).
We encourage you to explicitly request this version via the <code>Accept</code> header.

        Accept: application/vnd.net.retailnext-v1+json

## Authentication

An API key must be sent with each request. This key may be specified
either within a header called `X-ApiKey` or through the `api_key` query
parameter.

API keys may be generated by RetailNext admins via **Admin Settings** > **General** > **Advanced Features**

## Schema

All API access is over HTTPS, and accessed from the domain of your corporate server
(your-corporate-domain.com/retailnext/api). All data is sent and received as JSON.

## Parameters

The Metrics API query parameters utilize the following
special characters to achieve the desired expressiveness
and conciseness:
  
  * Space ' ' separates sub-parameters within top-level elements (URL-encoded as `+`);
  * Comma ',' separates list items within a sub-parameter;
  * Semicolon ';' separates top-level list elements.

Consult the <a href="#query_examples">query examples</a> for detailed usage illustrations.

## Usage Limitations

- Only one <a href="#query">query</a>
may be processing at any given time <em>per API key</em>. If a query is issued while another one is still processing, the previous query will be canceled and results will only be returned for the latter query.
- The <code>row_limit</code> parameter has a maximum value to enforce and encourage smaller, more efficient queries. If this limitation is reached (i.e. <code>is_complete=false</code> in the response), consider making separate requests with shorter date ranges and/or less granular groupings.



# Query for data [/query?api_key={api_key}&row_limit={row_limit}&primary_currency={primary_currency}&fallback_currency={fallback_currency}&calendar_type={calendar_type}&location_ids={location_ids}&measures={measures}&groupings={groupings}&date_ranges={date_ranges}&time_ranges={time_ranges}]

Retrieves metrics using the provided query parameters.
<a class="anchor" name="query"></a>

## Query [GET]

+ Request 
        
    + Headers
        
            X-ApiKey: myApiKey
            Accept: vnd.net.retailnext-v1+json

+ Response 200 (application/json)

        {
            "data": [
            {
                "traffic_in":
                {
                    "value": 987,
                    "validity": "valid"
                },
                "traffic_out": 1221,
                "passby_wireless": 23499,
                "local_percentage": 11.2,
                "facedetection": 14,
                "shopper_yield": 10.733367245086
            }],
            "is_complete": true
        } 

+ Response 400 (application/json)

```
    {"error": some_message}
```


# Locations [/locations?api_key={api_key}&id={id}&name={name}&type={type}&description={description}]

<a class="anchor" name="locations"></a>
## Search locations [GET]

Searches for locations matching the specified filters. 



+ Response 200 (application/json)



# Age ranges [/age?api_key={api_key}]
<a class="anchor" name="ages"></a>
## List all age ranges [GET]

<div onmouseover="">Lists all of the age ranges defined in the RetailNext system (<b>Admin Settings</b> > <b>Demographics</b>).</div>

<p>The returned ids may be used in queries which use the <code>demographics</code> measure.</p>

+ Parameters 
  + api_key (optional, string, `myApiKey`) ... The API Key.

+ Response 200 (application/json)

        {
          "age_ranges": [
          {
            "id": 1004069,
            "display_name": "1-12 years",
            "lower_bound": 1,
            "upper_bound": 12
          },
          {
            "id": 1004070,
            "display_name": "13-17 years",
            "lower_bound": 13,
            "upper_bound": 17
          },
          {
            "id": 1004071,
            "display_name": "18-24 years",
            "lower_bound": 18,
            "upper_bound": 24
          },
          {
            "id": 1004072,
            "display_name": "25-34 years",
            "lower_bound": 25,
            "upper_bound": 34
          },
          {
            "id": 1004073,
            "display_name": "35-44 years",
            "lower_bound": 35,
            "upper_bound": 44
          },
          {
            "id": 1004074,
            "display_name": "45-54 years",
            "lower_bound": 45,
            "upper_bound": 54
          },
          {
            "id": 1004075,
            "display_name": "55-64 years",
            "lower_bound": 55,
            "upper_bound": 64
          },
          {
            "id": 1004076,
            "display_name": "65+ years",
            "lower_bound": 65,
            "upper_bound": 200
          }
          ]
        }


# Group /API
